
@using BlazorBlog.Data.Services;
@using BlazorBlog.Data.Model;

@inject ILocalStorageService localStorageService;

<span>
@if(CredObj == null){
        <a href="/login">Login</a>
    } else {
        <span>Welcome @CredObj.UserName</span>
    }
</span>

@code {
    [Parameter]
    public BlogCredential CredObj {get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        CredObj = await localStorageService.GetItem<BlogCredential>("credential");
    }
}