
@using BlazorBlog.Data.Services

@inject ILocalStorageService localStorageService

@if(blogCredential == null)
    {
        <a href="/login">Login</a>
    }
    else
    {
        <span>Welcome @blogCredential.userName</span>
    }

@code{
    
    public BlogCredential blogCredential {get; set;}

    protected override async Task OnInitializedAsync()
    {
        blogCredential = localStorageService.GetItem<BlogCredential>("credential");
    }
}