@using BlazorBlog.Data.Model;
@inherits LayoutComponentBase
@using BlazorBlog.Data.Services

@inject IAuthenticationService authenticationService

<PageTitle>BlazorBlog</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Credential CredObj=@blogCredential/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public BlogCredential? blogCredential {get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            blogCredential = authenticationService.blogCredential;
            StateHasChanged();
        }
    }

}