using BlazorBlog.Data.Model;

<h1>@post.Title</h1>
<span>@post.Timestamp</span>
<p>@post.Contents.SubString(0,100)</p>
<hr />

@code{
    public Post post {get; set;}

    [Parameter]
    public int postId;

    protected override async Task OnInitializedAsync()
    {
        post = await ApiService.getPost(postId);
    }
}
